GF_USER_PASSWORD=your_secure_password
GF_ADMIN_PASSWORD=your_secure_admin_password
SERVER_PUBLIC_IP=YOUR_SERVER_IP
SCREEN_RESOLUTION=1920x1080@60
VIDEO_CODEC=vp9
VUE_APP_AI_ENGINE_URL=http://localhost:8000
