# Glass Fence Production Environment Configuration
# Copy this file to .env and change the values before running docker-compose.prod.yaml

# ------------------------------
# DOMAIN & SSL CONFIGURATION
# ------------------------------
# The main domain where your Glass Fence instances will be hosted.
DOMAIN=glassfence.local
# Let's Encrypt requires an email address for SSL certificate generation.
ACME_EMAIL=admin@yourdomain.com

# ------------------------------
# WEBRTC & NETWORK CONFIGURATION
# ------------------------------
# MUST BE CHANGED to the public IP address of your server for WebRTC video streaming to work!
SERVER_PUBLIC_IP=127.0.0.1
# The UDP port multiplexer for WebRTC video traffic. Ensure this port is open on your cloud firewall.
UDP_MUX_PORT=53000

# ------------------------------
# AUTHENTICATION
# ------------------------------
# Default username is 'neko'
USER_PASSWORD=neko
ADMIN_PASSWORD=admin

# ------------------------------
# PERFORMANCE
# ------------------------------
# Available codecs: vp8, vp9, h264
VIDEO_CODEC=vp8
# e.g., 1920x1080@60 or 2560x1440@60
SCREEN_RESOLUTION=1920x1080@60
