GF_USER_PASSWORD=your_secure_password
GF_ADMIN_PASSWORD=your_secure_admin_password
SERVER_PUBLIC_IP=YOUR_SERVER_IP
SCREEN_RESOLUTION=1920x1080@60
VIDEO_CODEC=vp9
VUE_APP_AI_ENGINE_URL=https://ai.${DOMAIN}
DOMAIN=glassfence.yourdomain.com
ACME_EMAIL=admin@yourdomain.com
GF_FIREFOX_UDP_PORT=53000
GF_CHROMIUM_UDP_PORT=53001
GF_LINUX_UDP_PORT=53002
TURN_SERVER=turn.yourdomain.com
TURN_SECRET=your_turn_secret
TRAEFIK_USERS=admin:$$apr1$$...
